<!DOCTYPE html>
<html>
<head>
  <title><%- title %> | Vapid Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.2/trix.css">
  <link rel="stylesheet" href="/dashboard/assets/stylesheets/dashboard.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
</head>
<body>
  <nav class="ui fixed inverted top menu">
    <a class="icon item" data-toggle="sidebar">
      <i class="content icon"></i>
    </a>
    <a href="/dashboard" class="item item-home item-nohover"></a>
  </nav>

  <nav class="ui fixed sidebar inverted vertical menu">
    <a href="/dashboard" class="item item-home item-nohover">
      <%- include('../logo.svg') %>
    </a>

    <div class="item">
      <div class="header">Content</div>
      <div class="menu">
        <% allSections.forEach(g => { %>
          <a href="/dashboard/sections/<%- g.id %>" class="<% if (g.id == section.id) { %>active <% } %>item">
            <span>
              <i class="<%- g.multiple ? 'list' : 'file outline' %> icon"></i>
              <%- g.label %>
            </span>
          </a>
        <% }) %>
      </div>
    </div>

    <div class="item">
      <div class="header">Settings</div>
      <div class="menu">
        <a href="/dashboard/build" class="item">
          <span><i class="sync icon"></i> Build Site</span>
        </a>
        <a href="/dashboard/sign_out" class="item">
          <span><i class="sign out alternate icon"></i> Sign Out</span>
        </a>
      </div>
    </div>
  </nav>

  <div class="pusher">
    <main>
      <%- include('../flash') %>
      <%- include(`../${yield}`) %>
    </main>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trix/0.11.2/trix.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js"></script>
  <script src="/dashboard/assets/javascripts/dashboard.js"></script>
</body>
</html>